/* Не належить жодному елементу. Зразок для картки секції доставки */
.test {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;

  width: 302px;
  height: 114px;

  background: #ffffff;
  border-radius: 24px;

  font-family: "Nunito Sans";
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1f1f1f;
}
