body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.section {
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

/* ---------- HEADER ---------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  gap: 48px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: #1f1f1f;
}

/* ---------- HERO ---------- */
.hero {
  display: flex;
  gap: 133px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 52px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.hero-title {
  font-family: "Caveat", cursive;
  /* margin-bottom: 52px; */
}

.hero-text {
  /* margin-bottom: 52px; */
}

.hero-button {
  /* width: 214px;
  height: 52px; */
  border-radius: 8px;
  background-color: #fc640c;
  padding: 16px 32px;
  line-height: 100%;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

/* ---------- ADVANTAGES ---------- */
.advantages {
  padding-top: 80px;
  padding-bottom: 80px;
}

.advantages-list {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advantages-item {
  display: flex;
  gap: 128px;
  align-items: center;
}

.advantages-item-text {
  width: 633px;
}

.li1 {
  margin-left: 109px;
}

.li2 {
  margin-left: 197px;
}

.li3 {
  margin-left: 235px;
}

/* Не належить жодному елементу. Зразок для картки секції доставки */
.test {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;

  width: 302px;
  height: 114px;

  background: #ffffff;
  border-radius: 24px;

  font-family: "Nunito Sans";
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1f1f1f;
}

.footer-links {
  width: 302px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-wrap: wrap;
  height: 80px;
  width: 100%;
}

.footer-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  color: #404040;
}
